#table {
  margin-left: -8px;
  margin-top: -8px;
  margin-bottom: -8px;
  width: 150px;
  height: 100vh;
  background-color: #002176;
}

.tab {
  width: auto;
  height: 150px;
  background-color: #002176;
  border-color: white;
  border-width: 1.5px;
  border-style: solid;
  border-left-color: #002176;
}

#logo {
  background-color: white;
  border-right-color: #002176;
  border-bottom-color: #002176;
  border-top-color: #002176;
}
#logoImage {
  width: 115px;
  height: 115px;
  margin: auto;
  display: block;
  margin-top: 15px;
}

.icons {
  width: 75px;
  height: 75px;
  margin: auto;
  display: block;
  margin-top: 15px;
}

.iconText {
  color: white;
  font-size: 24px;
  font-family: Roboto;
  text-align: center;
}

#words,
#alarm {
  font-size: 17px;
}

#profileTab {
  background-color: #f1ff9d;
}
#alarm {
  color: #002176;
}

.taskimage {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

#taskimagewhiteball {
  width: 90px;
  height: 90px;
  margin-left: 25px;
}

#bluepawhome {
  width: 90px;
  height: 90px;
  margin-left: 25px;
}

#reminders {
  position: relative;
  top: -1250px;
  left: 1400px;
}

#comingup {
  position: relative;
  top: -1150px;
  left: 1400px;
}

#companyname {
  bottom: 6666px;
  left: 50px;
}
