#table {
  width: 126px;
  background-color: #4356a6;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#top {
  margin-top: 80px;
}

.tab {
  width: auto;
  height: 150px;
}

.icons {
  position: relative;
  left: 40px;
  top: 30px;
}

#selected {
  left: 25px;
  position: relative;
  top: 30px;
}

#right-box {
  position: absolute;
  top: 50px;
  right: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  text-decoration-line: underline;
}

#taskBar {
  position: absolute;
  top: 20px;
  left: 150px;
  height: 1020px;
  width: 258px;
}

#profile {
  position: absolute;
  right: 90px;
  top: 40px;
}

#name,
#role {
  position: absolute;
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.04em;
}

#name {
  width: 130px;
  right: 85px;
}
#role {
  right: 120px;
  top: 30px;
  color: rgba(0, 0, 0, 0.6);
}

/* anything above here is on every page */

#messagesDiv {
  position: absolute;
  width: 800px;
  height: 653px;
  left: 570px;
  top: 250px;
}

#messagesContainer {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 253px;
}

#messagesContainer::-webkit-scrollbar {
  display: none;
}

.rightMessage,
.leftMessage {
  height: auto;
  width: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 400px;
  text-align: left;
  display: inline-block;
  padding: 10px;
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.rightMessage {
  float: right;
  color: #ffffff;
  background: #4356a6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#msgPic {
  position: absolute;
  right: -90px;
  top: -5px;
}

#msgPic2 {
  position: absolute;
  left: -90px;
  top: 80px;
  width: 61;
  height: 88px;
}

.leftMessage {
  background: #e0e0e0;
  float: left;
}

#sendMess {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  text-decoration-line: underline;
}

#messageBox {
  position: absolute;
  width: 690px;
  height: 41px;
  left: 50px;
  top: 667px;

  background: #f0f0f0;
  border-radius: 100px;
  border: none;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: rgba(0, 0, 0, 0.6);
  padding-left: 20px;
}

#sendButton {
  position: absolute;
  top: 655px;
  left: 800px;
  width: 60px;
  height: 60px;
}
