<div id="table">
  <div class="tab" id="top">
    <a routerLink="/home">
      <img class="icons" src="../../assets/icons/home.png" />
    </a>
  </div>

  <div class="tab">
    <a routerLink="/words-of-wisdom">
      <img class="icons" src="../../assets/icons/words.png" />
    </a>
  </div>

  <div class="tab">
    <a routerLink="/feeding-alarm">
      <img
        class="icons"
        id="selected"
        src="../../assets/icons/alarm_selected.png"
      />
    </a>
  </div>

  <div class="tab">
    <a routerLink="/vet-assist">
      <img class="icons" src="../../assets/icons/vet.png" />
    </a>
  </div>
</div>

<img id="taskBar" src="../../assets/homePage/tasks2.png" />

<div id="profile">
  <p id="name">Sadman Amin</p>
  <p id="role">Developer</p>
  <img src="../../assets/homePage/profile.png" />
</div>

<div id="messagesDiv">
  <div id="messagesContainer" *ngFor="let message of inMessages">
    <img id="msgPic" src="../../../assets/homePage/profile.png">

    <div class="rightMessage">
      <p>
        {{ message }}
      </p>

    </div>

    <img  id="msgPic2" src="../../../assets/vets/botPic.png">

    <div class="leftMessage">
      <p>
        Thank you for reaching out to me, I will reply to your question as soon
        as possible!
      </p>
    </div>
  </div>

  <input id="messageBox" type="text" [(ngModel)]="message"     placeholder="Message Mary Lee"
  />
  <input
    (click)="addMessage()"
    type="image"
    id="sendButton"
    src="../../../assets/vets/send.png"
  />
</div>
