<table id="onlytable" style="background-color: blue">
  <tr>
    <td style="background-color: #ffffff">
      <img class="taskimage" src="../../assets/logoshield-betterlines.png" />
    </td>
  </tr>
  <tr>
    <td>
      <img
        routerLink="/profile"
        class="taskimage"
        src="../../assets/white-user.png"
      />
    </td>
  </tr>
  <td>
    <img
      routerLink="/home"
      id="bluepawhome"
      src="..//..//assets/white-paw.png"
    />
  </td>
  <tr>
    <td style="background-color: #f1ff9d">
      <img
        routerLink="/words-of-wisdom"
        class="taskimage"
        src="../../assets/blue-book.png"
      />
    </td>
  </tr>

  <tr>
    <td>
      <img
        routerLink="/feeding-alarm"
        class="taskimage"
        src="../../assets/white-clock.png"
      />
    </td>
  </tr>

  <tr>
    <td>
      <img
        routerLink="/play-dates"
        id="taskimagewhiteball"
        src="../../assets/white-ball.png"
      />
    </td>
  </tr>
  <tr>
    <td width:150px height="300px"></td>
  </tr>
</table>

<div id="companyname">
  <h1>Pet Guardian</h1>
</div>

<div>
  <div>
    <input id="val" type="text" #box />
    <button method="POST" (click)="getVal(box.value)">Add Post</button>
  </div>

  <p *ngFor="let blogPost of user.posts">
    {{ blogPost }}
  </p>
</div>

<div id="reminders">
  <h1>Daily reminders</h1>
  <div class="textreminders">
    <a routerLink="/feeding-alarm">feeding alarm 1</a>
  </div>
  <div class="textreminders">
    <a routerLink="/feeding-alarm">feeding alarm 2</a>
  </div>
  <div class="textreminders">
    <a routerLink="/feeding-alarm">feeding alarm 3</a>
  </div>
  <div class="textreminders">
    <a routerLink="/feeding-alarm">feeding alarm 4</a>
  </div>
</div>

<div id="comingup">
  <h1>Coming up</h1>
  <div class="textreminders">
    <a routerLink="/play-dates">playdates 1</a>
  </div>
  <div class="textreminders">
    <a routerLink="/play-dates">playdates 2</a>
  </div>
  <div class="textreminders">
    <a routerLink="/play-dates">playdates 3</a>
  </div>
  <div class="textreminders">
    <a routerLink="/play-dates">playdates 4</a>
  </div>
</div>
