#table {
  width: 150px;
  background-color: #002176;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.tab {
  width: auto;
  height: 150px;
  background-color: #002176;
  border-color: white;
  border-width: 1.5px;
  border-style: solid;
  border-left-color: #002176;
}

#logo {
  background-color: white;
  border-right-color: #002176;
  border-bottom-color: #002176;
  border-top-color: #002176;
}
#logoImage {
  width: 115px;
  height: 115px;
  margin: auto;
  display: block;
  margin-top: 15px;
}

.icons {
  width: 75px;
  height: 75px;
  margin: auto;
  display: block;
  margin-top: 15px;
}

.iconText {
  color: white;
  font-size: 24px;
  font-family: Roboto;
  text-align: center;
}

#words,
#alarm {
  font-size: 17px;
}

#words {
  color: #002176;
}

#wordsTab {
  background-color: #f1ff9d;
}

#company {
  position: absolute;
  display: inline-block;
  text-decoration: underline;
  font-family: "Roboto";
  left: 222px;
  top: 10px;
  font-size: 48px;
  font-weight: bold;
}

#wisdom {
  position: absolute;
  left: 541px;
  top: 110px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-decoration-line: underline;
}

#search {
  position: absolute;
  width: 743px;
  height: 65px;
  left: 296px;
  top: 215px;

  background: #f1ff9d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#searchText {
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
}

#searchBar {
  position: absolute;
  width: 693px;
  height: 17px;
  left: 25px;
  top: 31px;

  background: #ffffff;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

#postBox {
  position: absolute;
  width: 743px;
  height: 78px;
  left: 296px;
  top: 312px;

  background: #f1ff9d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.055);
}

#picture {
  position: absolute;
  width: 51px;
  height: 50px;
  left: 30px;
  top: 15px;

  border-radius: 100px;
}

#blogTitle {
  position: absolute;
  left: 150px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 535;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
}

#blogMessage {
  position: absolute;
  width: 622px;
  height: 56px;
  left: 150px;
  top: 23px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

#right-box {
  position: absolute;
  top: 100px;
  right: 100px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  text-decoration-line: underline;
}
#reminder {
  padding-top: 1px;
  background-color: #f1ff9d;
  width: 245px;
  height: 170px;
  font-size: 18px;
  line-height: 21px;
  color: #002176;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#comingBox {
  background-color: #f1ff9d;
  width: 245px;
  height: 85px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#coming {
  padding-top: 20px;
  color: #002176;
  font-size: 18px;
}

#wisdomBox {
  position: absolute;
  width: 743px;
  height: 100px;
  left: 296px;
  top: 700px;

  background: #f1ff9d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#wisdomLabel {
  position: absolute;
width: 361px;
height: 25px;
left: 50px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-decoration-line: underline;
}

#titleBox {
  position: absolute;
width: 693px;
height: 21px;
/* left: 321px; */
/* top: 829px; */

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
}