#table {
  width: 126px;
  background-color: #4356a6;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#top {
  margin-top: 80px;
}

.tab {
  width: auto;
  height: 150px;
}

.icons {
  position: relative;
  left: 40px;
  top: 30px;
}

#selected {
  left: 25px;
  position: relative;
  top: 30px;
}

#right-box {
  position: absolute;
  top: 50px;
  right: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  text-decoration-line: underline;
}

#taskBar {
  position: absolute;
  top: 20px;
  left: 150px;
  height: 1020px;
  width: 258px;
}

#profile {
  position: absolute;
  right: 90px;
  top: 40px;
}

#name,
#role {
  position: absolute;
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.04em;
}

#name {
  width: 130px;
  right: 85px;
}
#role {
  right: 120px;
  top: 30px;
  color: rgba(0, 0, 0, 0.6);
}

/* anything above here is on every page */

.posts {
  background: rgba(255, 255, 255, 0.99);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  width: 368px;
  height: 364px;
}

#topLeft {
  left: 472px;
  top: 117px;
}

#topRight {
  left: 922px;
  top: 117px;
}

#addButton {
  position: absolute;
  width: 240px;
  height: 74px;
  left: 1350px;
  top: 201px;
}

.smallPic {
  position: relative;
  top: 15px;
  left: 15px;
}

.adviceName {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-top: 15px;
  margin-left: 15px;
}

.postTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  top: 20px;
  left: 15px;
}

.postMessage {
  position: relative;
  width: 347px;
  height: 95px;
  left: 10px;
  top: 20px;

  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
}

#addBlog {
  position: absolute;
  bottom: 75px;
  left: 500px;
  width: 786px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: none;
}

#blogTitle,
#blogContent {
  font-family: Hind;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  position: relative;
  color: #bdbdbd;
  border: none;
  left: 20px;
  width: 734.01px;
}

#blogTitle {
  top: 25px;
  border-bottom: 5px solid #bdbdbd;
}

#blogContent {
  top: 60px;
}

#postButton {
  width: 118px;
  height: 40px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#newPost {
  position: absolute;
  left: 472px;
  top: 507px;
  display: none;
}

/* 

#search {
  position: relative;
  width: 743px;
  height: 65px;
  left: 290px;
  top: 95px;

  background: #f1ff9d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#wisdom {
  position: relative;
  left: -60px;
  top: 110px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-decoration-line: underline;
}

#searchText {
  position: relative;
  top: 8px;
  left: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
}

#searchBar {
  position: absolute;

  left: 25px;
  top: 33px;

  background: #ffffff;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

#postBox {
  width: 743px;
  height: 78px;
  position: relative;
  margin-top: 25px;
  background: #f1ff9d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 250px;
}

#picture {
  position: relative;
  width: 51px;
  height: 50px;

  border-radius: 100px;
  left: 20px;
  top: 15px;
}

#blogTitle {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 535;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  left: 100px;
  top: -50px;
}

#blogMessage {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  left: 100px;
  top: 45px;
}

#wisdomLabel {
  position: absolute;
  width: 361px;
  height: 25px;
  left: 220px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: underline;
}

#postDiv {
  position: relative;
  width: 1050px;
  height: 300px;
  left: 40px;
  top: 90px;
  overflow-x: hidden;
  overflow-y: auto;
}

#titleBox {
  width: 693px;
  height: 21px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

#titleDiv {
  position: absolute;
  top: 40px;
  left: 25px;
}

#messageDiv {
  position: absolute;
  top: 100px;
  left: 25px;
}

#messageBox {
  position: absolute;
  width: 693px;
  height: 21px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

#subButton {
  position: absolute;
  top: 160px;
  left: 290px;

  width: 150px;
  height: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #002176;
  color: white;
  border: none;
  border-radius: 5px;
}

#wisdomBox {
  position: absolute;
  width: 743px;
  height: 200px;
  left: 300px;
  top: 590px;

  background: #f1ff9d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#searchBar,
#titleBox,
#messageBox {
  padding-left: 12px;
  padding-right: 12px;
  width: 675px;
  height: 17px;
  border: none;
}

#mainBox {
  margin-left: 100px;
} 

*/
