<div id="table">
  <div id="logo" class="tab">
    <img id="logoImage" src="../../assets/bi_shield.png" />
  </div>

  <div class="tab">
    <a routerLink="/profile">
      <img class="icons" src="../../assets/white-user.png" />
    </a>
    <p class="iconText">Profile</p>
  </div>

  <div class="tab" id="homeTab">
    <a routerLink="/home">
      <img class="icons" src="../../assets/white-paw.png" />
    </a>
    <p class="iconText">Home Page</p>
  </div>

  <div class="tab" id="wordsTab">
    <a routerLink="/words-of-wisdom">
      <img class="icons" src="../../assets/blue-book.png" />
    </a>
    <p class="iconText" id="words">Words of Wisdom</p>
  </div>

  <div class="tab">
    <a routerLink="/feeding-alarm">
      <img class="icons" src="../../assets/white-clock.png" />
    </a>
    <p class="iconText" id="alarm">Feeding Alarm</p>
  </div>
</div>

<p id="company">Pet Guardian</p>

<p id="wisdom">Words of Wisdom</p>

<div id="right-box">
  <p>Daily Reminders</p>
  <div id="reminder">
    <p>8:00 AM, Light Breakfast</p>
    <p>12:00 PM, Lunch</p>
    <p>3:00 PM, Dinner</p>
    <p>7:00 PM, Snacks</p>
  </div>
  <p>Coming Up</p>
  <div id="comingBox">
    <p id="coming">Check in with Mary Lee 02/19/2022</p>
  </div>
</div>

<div id="search">
  <p id="searchText">Insert any key words you would like to search for:</p>
  <input type="text" placeholder="Search..." id="searchBar" />
</div>

<div id="postBox" *ngFor="let item of messages">
  <img id="picture" src="../../assets/words/harry.jpg" />
  <p id="blogTitle">{{ item.name }}: Tittle</p>
  <p id="blogMessage">{{ item.message }}</p>
</div>


<form #add="ngForm" (ngSubmit)="create_Newemployee(add)">
<div id="wisdomBox">
  <p id="wisdomLabel">Feel Free to add your own wisdom below here!</p>

  <label for="message"> Name</label> <br />
  <input id="titleBox" type="text" name="name" ngModel />

  <label for="message"> Message</label> <br />
  <input  type="text" name="message" ngModel />
</div>

<button type="submit">Add Blog</button>


