<div id="table">
  <div class="tab" id="top">
    <a routerLink="/home">
      <img class="icons" src="../../assets/icons/home.png" />
    </a>
  </div>

  <div class="tab">
    <a routerLink="/words-of-wisdom">
      <img class="icons"  src="../../assets/icons/words.png" />
    </a>
  </div>

  <div class="tab">
    <a routerLink="/feeding-alarm">
      <img class="icons" id="selected" src="../../assets/icons/alarm_selected.png" />
    </a>
  </div>

  <div class="tab">
    <a routerLink="/vet-assist">
      <img class="icons" src="../../assets/icons/vet.png" />
    </a>
  </div>
</div>

<img id="taskBar" src="../../assets/homePage/tasks2.png" />

<div id="profile">
  <p id="name">Sadman Amin</p>
  <p id="role">Developer</p>
  <img src="../../assets/homePage/profile.png" />
</div>




<div class="square" id="top-left">
  <a routerLink="/vet-assist/messages">
<img class="vetPics" src="../../assets/vets/doc1.png">
  </a>
</div>

<div class="square" id="top-right">
  <a routerLink="/vet-assist/messages">
<img class="vetPics" src="../../assets/vets/doc2.png">
  </a>
</div>

<div class="square" id="bot-left">
  <a routerLink="/vet-assist/messages">
<img class="vetPics" src="../../assets/vets/doc3.png">
  </a>
</div>

<div class="square" id="bot-right">
  <a routerLink="/vet-assist/messages">
<img class="vetPics" src="../../assets/vets/doc4.png">
  </a>
</div>
