#table {
  width: 126px;
  background-color: #4356a6;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#top {
  margin-top: 80px;
}

.tab {
  width: auto;
  height: 150px;
}

.icons {
  position: relative;
  left: 40px;
  top: 30px;
}

#selected {
  left: 25px;
  position: relative;
  top: 30px;
}

#right-box {
  position: absolute;
  top: 50px;
  right: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  text-decoration-line: underline;
}

#taskBar {
  position: absolute;
  top: 20px;
  left: 150px;
  height: 1020px;
  width: 258px;
}

#profile {
  position: absolute;
  right: 90px;
  top: 40px;
}

#name,
#role {
  position: absolute;
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.04em;
}

#name {
  width: 130px;
  right: 85px;
}
#role {
  right: 120px;
  top: 30px;
  color: rgba(0, 0, 0, 0.6);
}

/* anything above here is on every page */

.vetPics {
  width: 335px;
  height: 192px;
}



a:visited {
  text-decoration: none;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

#top-left,
#top-right {
  position: absolute;
  top: 250px;
}

#bot-left,
#bot-right {
  position: absolute;
  top: 600px;
}

#top-left,
#bot-left {
  left: 600px;
}

#top-right,
#bot-right {
  left: 1050px;
}
