#table {
  width: 150px;
  background-color: #002176;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.tab {
  width: auto;
  height: 150px;
  background-color: #002176;
  border-color: white;
  border-width: 1.5px;
  border-style: solid;
  border-left-color: #002176;
}

#logo {
  background-color: white;
  border-right-color: #002176;
  border-bottom-color: #002176;
  border-top-color: #002176;
}
#logoImage {
  width: 115px;
  height: 115px;
  margin: auto;
  display: block;
  margin-top: 15px;
}

.icons {
  width: 75px;
  height: 75px;
  margin: auto;
  display: block;
  margin-top: 15px;
}

.iconText {
  color: white;
  font-size: 24px;
  font-family: Roboto;
  text-align: center;
}

#words,
#alarm {
  font-size: 17px;
}

#profileTab {
  background-color: #f1ff9d;
}
#profileText {
  color: #002176;
}

#company {
  display: inline-block;
  text-decoration: underline;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 195px;
}

#profileBoxes {
  width: 1800px;
  height: 800px;
  margin-top: 50px;
}

.profileBox {
  width: 553px;
  height: 580px;
  float: left;
  margin-right: 150px;
  background: rgba(241, 255, 157, 0.99);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding-left: 35px;
  padding-top: 29px;
}
#leftBox {
  margin-left: 250px;
}

.profileText,
.profileTextBox {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
}

.dogPic {
  width: 390px;
  height: 257px;
}

.profileTextBox {
  position: relative;
  width: 378px;
  height: 196px;
  left: 20px;
}

.textBox {
  position: relative;
  width: 247px;
  height: 21px;
  left: 100px;
  top: -40px;
  padding-left: 15px;
  font-size: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
}

.descriptionDiv {
  margin-bottom: -40px;
}
#descriptionBox {
  left: 135px;
}

#inputPic {
  background-color: #ffffff;
  border: none;
}

#addButton {
  position: relative;
  background: #002176;
  left: 430px;
  top: 10px;
  width: 86px;
  height: 24px;
  border: none;
  color: white;
}
