<div>
    <table id="onlytable" style="background-color: blue; ">

        <tr>
            <td style="background-color:white;">
                <img class="taskimage" src="../../assets/bi_shield.png"> </td>
        </tr>
        <tr>
            <td style="background-color:#F1FF9D">
                <img routerLink="/profile" class="taskimage" src="../../assets/blue-user.png"> </td>
        </tr>
        <td>
            <img routerLink="/home" class="taskimage" src="..//..//assets/white-paw.png"> </td>
        <tr>
            <td>
                <img routerLink="/words-of-wisdom" class="taskimage" src="../../assets/white-book.png"> </td>
        </tr>

        <tr>
            <td>
                <img routerLink="/feeding-alarm" class="taskimage" src="../../assets/white-clock.png"> </td>
        </tr>

        <tr>
            <td>
                <img routerLink="/play-dates" id="taskimagewhiteball" src="../../assets/white-ball.png"> </td>
        </tr>
        <tr>
            <td width:150px height=300px> </td>
        </tr>

    </table>

</div>

<div id=companyname>
    <h1>
        Pet Guardian</h1>
</div>

<div id="yellow">
    <h1>Profile Picture</h1>
    <img src="https://www.google.com/url?sa=i&url=http%3A%2F%2Fequalityalabama.org%2Fcategory%2Fpet-care%2F&psig=AOvVaw0sheGoTz4Ch234vOmY2Vw2&ust=1628276698953000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNie58PJmvICFQAAAAAdAAAAABAD"  width="300" height="400">
</div>