<h1>profile works</h1>
<div>
    <table id="onlytable" style="background-color: blue; ">

        <tr>
            <td style="background-color:white;">
                <img class="taskimage" src="../../assets/bi_shield.png"> </td>
        </tr>
        <tr>
            <td style="background-color:#F1FF9D">
                <img routerLink="/profile" class="taskimage" src="../../assets/blue-user.png"> </td>
        </tr>
        <td>
            <img routerLink="/home" class="taskimage" src="..//..//assets/white-paw.png"> </td>
        <tr>
            <td>
                <img routerLink="/words-of-wisdom" class="taskimage" src="../../assets/white-book.png"> </td>
        </tr>

        <tr>
            <td>
                <img routerLink="/feeding-alarm" class="taskimage" src="../../assets/white-clock.png"> </td>
        </tr>

        <tr>
            <td>
                <img routerLink="/play-dates" id="taskimagewhiteball" src="../../assets/white-ball.png"> </td>
        </tr>
        <tr>
            <td width:150px height=300px> </td>
        </tr>

    </table>

</div>

<div id=companyname>
    <h1>
        Pet Guardian</h1>
</div>