<div id="table">
  <div id="logo" class="tab">
    <img id="logoImage" src="../../assets/bi_shield.png" />
  </div>

  <div class="tab" id="profileTab">
    <a routerLink="/profile">
      <img class="icons" src="../../assets/blue-user.png" />
    </a>
    <p class="iconText" id="profileText">Profile</p>
  </div>

  <div class="tab">
    <a routerLink="/home">
      <img class="icons" src="../../assets/white-paw.png" />
    </a>
    <p class="iconText">Home Page</p>
  </div>

  <div class="tab">
    <a routerLink="/words-of-wisdom">
      <img class="icons" src="../../assets/white-book.png" />
    </a>
    <p class="iconText" id="words">Words of Wisdom</p>
  </div>

  <div class="tab">
    <a routerLink="/feeding-alarm">
      <img class="icons" src="../../assets/white-clock.png" />
    </a>
    <p class="iconText" id="alarm">Feeding Alarm</p>
  </div>
</div>

<p id="company">Pet Guardian</p>

<div id="profileBoxes">
  <div class="profileBox" id="leftBox">
    <p class="profileText">Profile picture:</p>
    <img class="dogPic" src="../../assets/profile/watermelonDog.jpg" />
    <div class="profileTextBox">
      <div class="descriptionDiv">
        <p>Pet Name:</p>
        <div class="textBox">Luna</div>
      </div>
      <div class="descriptionDiv">
        <p>Your Name:</p>
        <div class="textBox">Pet Guardian</div>
      </div>
      <div class="descriptionDiv">
        <p>Pet Species:</p>
        <div class="textBox">Dog</div>
      </div>
      <div class="descriptionDiv">
        <p>Pet Breed:</p>
        <div class="textBox">Golden Retriever</div>
      </div>
      <div class="descriptionDiv">
        <p>Pet Description:</p>
        <div class="textBox" id="descriptionBox">Yellowish/brown dog</div>
      </div>
      <div class="descriptionDiv">
        <p>Pet Age:</p>
        <div class="textBox">5 years</div>
      </div>
    </div>
  </div>

  <div class="profileBox">
    <p class="profileText">Profile picture:</p>
    <img class="dogPic" src="../../assets/profile/blankPicture.png" />
    <div class="profileTextBox">
      <div class="descriptionDiv">
        <p>Pet Name:</p>
        <input class="textBox" />
      </div>
      <div class="descriptionDiv">
        <p>Your Name:</p>
        <input class="textBox" />
      </div>
      <div class="descriptionDiv">
        <p>Pet Species:</p>
        <input class="textBox" />
      </div>
      <div class="descriptionDiv">
        <p>Pet Breed:</p>
        <input class="textBox" />
      </div>
      <div class="descriptionDiv">
        <p>Pet Description:</p>
        <input class="textBox" id="descriptionBox" />
      </div>
      <div class="descriptionDiv">
        <p>Pet Age:</p>
        <input class="textBox" />
      </div>
    </div>
    <button id="addButton">Add</button>
  </div>
</div>
