#table {
  width: 126px;
  background-color: #4356a6;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#top {
  margin-top: 80px;
}

.tab {
  width: auto;
  height: 150px;
}

.icons {
  position: relative;
  left: 40px;
  top: 30px;
}

#selected {
  left: 25px;
  position: relative;
  top: 30px;
}

#right-box {
  position: absolute;
  top: 50px;
  right: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  text-decoration-line: underline;
}

#taskBar {
  position: absolute;
  top: 20px;
  left: 150px;
  height: 1020px;
  width: 258px;
}

#profile {
  position: absolute;
  right: 90px;
  top: 40px;
}

#name,
#role {
  position: absolute;
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.04em;
}

#name {
  width: 130px;
  right: 85px;
}
#role {
  right: 120px;
  top: 30px;
  color: rgba(0, 0, 0, 0.6);
}

/* anything above here is on every page */

#pets {
  position: absolute;
  left: 430px;
  top: 100px;
}

.petCircles {
  margin-left: 50px;
}

#slogan {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  position: relative;
  left: 50px;
  bottom: 20px;
  color: #0077b8;
}

#addPet {
  position: absolute;
  left: 70px;
  font-family: Hind;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.04em;

  color: rgba(0, 0, 0, 0.5);
}

#luna,
#mike {
  position: absolute;
  font-family: Hind;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.04em;
}

#luna {
  left: 255px;
}

#mike {
  left: 435px;
}

#parks {
  position: absolute;
  left: 434px;
  top: 340px;
}

.park {
  margin-left: 20px;
}

#parksTitle,
#adviceTitle {
  font-family: Hind;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.04em;
  position: relative;
}

#parksTitle {
  left: 30px;
}

#advices {
  position: absolute;
  left: 450px;
  bottom: 30px;
}
