<!-- <div>
    <table id="onlytable" style=" background-color: blue; ">

        <tr>
            <td style="background-color:#ffffff;">
                <img class="taskimage" src="../../assets/bi_shield.png"> </td>
        </tr>
        <tr>
            <td>
                <img routerLink="/profile" class="taskimage" src="../../assets/white-user.png"> </td>
        </tr>
        <td style="background-color:#F1FF9D;">
            <img routerLink="/home" id="bluepawhome" src="..//..//assets/blue-paw.png"> </td>
        <tr>
            <td>
                <img routerLink="/words-of-wisdom" class="taskimage" src="../../assets/white-book.png"> </td>
        </tr>

        <tr>
            <td>
                <img routerLink="/feeding-alarm" class="taskimage" src="../../assets/white-clock.png"> </td>
        </tr>

        <tr>
            <td>
                <img routerLink="/play-dates" id="taskimagewhiteball" src="../../assets/white-ball.png"> </td>
        </tr>
        <tr>
            <td width:150px height=300px> </td>
        </tr>

    </table>

</div> -->

<div id="table">
  <div id="logo" class="tab">
    <img id="logoImage" src="../../assets/bi_shield.png" />
  </div>

  <div class="tab">
    <a routerLink="/profile">
      <img class="icons" src="../../assets/white-user.png" />
    </a>
    <p class="iconText">Profile</p>
  </div>

  <div class="tab" id="homeTab">
    <a routerLink="/home">
      <img class="icons" src="../../assets/blue-paw.png" />
    </a>
    <p class="iconText" id="homeText">Home Page</p>
  </div>

  <div class="tab">
    <a routerLink="/words-of-wisdom">
      <img class="icons" src="../../assets/white-book.png" />
    </a>
    <p class="iconText" id="words">Words of Wisdom</p>
  </div>

  <div class="tab">
    <a routerLink="/feeding-alarm">
      <img class="icons" src="../../assets/white-clock.png" />
    </a>
    <p class="iconText" id="alarm">Feeding Alarm</p>
  </div>
</div>

<p id="company">Pet Guardian</p>

<div id="slogan">
  <p id="helping">Helping Your Companion By Helping You</p>
  <p id="minHelping">
    Here at Pet Guardian we strive to help out our users by providing the
    guidance they need into this wild adventure.
  </p>
</div>

<p class="subheadings" id="registered">Registered Pets</p>

<div class="pets">
  <img src="../../assets/homePage/waterDog.png" />
</div>

<div class="pets" id="more">
  <p id="register">Register More...</p>
</div>

<div id="right-box">
  <p>Daily Reminders</p>
  <div id="reminder">
    <p>8:00 AM, Light Breakfast</p>
    <p>12:00 PM, Lunch</p>
    <p>3:00 PM, Dinner</p>
    <p>7:00 PM, Snacks</p>
  </div>
  <p>Coming Up</p>
  <div id="comingBox">
    <p id="coming">Check in with Mary Lee 02/19/2022</p>
  </div>
</div>

<p id="view" class="subheadings">View Popular Parks to Take Your Dog</p>

<div id="parks">
  <img class="parkImages" src="../../assets/homePage/irvinePark.png" />
  <img class="parkImages" src="../../assets/homePage/hamiltonPark.png" />
  <img class="parkImages" src="../../assets/homePage/irvinePark.png" />
  <img class="parkImages" src="../../assets/homePage/viewMore.png" />
  <p class="underPark" id="irvine">Irvine Park</p>
  <p class="underPark" id="hamilton">Hamilton Park</p>
  <p class="underPark" id="guatama">Guatama Park</p>
</div>

<p class="subheadings" id="mostAdvice">Most Helpful Advice from Owners</p>

<div id="advice">
  <div class="inAdvice">
    Judy Smith:The begining When you get your dog the first day make sure you
    let him explore their surroundings on their own. You can keep and eye on
    them at.. Read more
  </div>
  <div class="inAdvice" id="inAdvice2">
    Judy Smith:The begining When you get your dog the first day make sure you
    let him explore their surroundings on their own. You can keep and eye on
    them at.. Read more
  </div>
  <div class="inAdvice" id="inAdvice3">
    Judy Smith:The begining When you get your dog the first day make sure you
    let him explore their surroundings on their own. You can keep and eye on
    them at.. Read more
  </div>
  <div class="inAdvice" id="inAdvice4">
    Judy Smith:The begining When you get your dog the first day make sure you
    let him explore their surroundings on their own. You can keep and eye on
    them at.. Read more
  </div>
</div>

<!-- <div id="companyname">
  <h1>Pet Guardian</h1>

  <p>Register pets</p>
  <div id="dogImage">
    <img
      routerLink="/profile"
      width="152px"
      height="147.3px"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGGlucSyxCdlSvmt2p1y_GnMM4E4qTI2veUaxW18P2OveuIfYc6yoWGybduJlFunZV-a4&usqp=CAU"
    />
  </div>
  <div id="dogregis">
    <a routerLink="/profile">register more</a>
  </div>
</div>

<div id="overview">
  <h2>Helping Your companion by helping you</h2>
  <p>
    Here at Pet Guardian we strive to help you, our users by providing the
    guidance you need into this wild adventure.
  </p>
</div>

<div id="parks">
  <p>View popular parks to take your dog</p>
  <div id="park1">
    <img class="parkss" src="../../assets/earhart park.png" />
  </div>

  <div id="park2">
    <img class="parkss" src="../../assets/guatama park.png" />
  </div>

  <div id="park3">
    <img class="parkss" src="../../assets/hamilton park.png" />
  </div>

  <div id="park4">
    <img class="parkss" src="../../assets/irvine park.png" />
  </div>

  <div id="park5">
    <img class="parkss" src="../../assets/portsmouth park.png" />
  </div>

  <div id="park6">
    <img class="parkss" src="../../assets/south park.png" />
  </div>

  <div id="park7">
    <img class="parkss" src="../../assets/yarrow park.png" />
  </div>
</div>

<div id="advice">
  <h3>Most helpful advice from owners</h3>
  <div class="textadvice">
    <a routerLink="/words-of-wisdom">advice 1</a>
  </div>
  <div class="textadvice">
    <a routerLink="/words-of-wisdom">advice 2</a>
  </div>
  <div class="textadvice">
    <a routerLink="/words-of-wisdom">advice 3</a>
  </div>
  <div class="textadvice">
    <a routerLink="/words-of-wisdom">advice 4</a>
  </div>
</div>

<div id="reminders">
  <h1>Daily reminders</h1>
  <div class="textreminders">
    <a routerLink="/feeding-alarm">feeding alarm 1</a>
  </div>
  <div class="textreminders">
    <a routerLink="/feeding-alarm">feeding alarm 2</a>
  </div>
  <div class="textreminders">
    <a routerLink="/feeding-alarm">feeding alarm 3</a>
  </div>
  <div class="textreminders">
    <a routerLink="/feeding-alarm">feeding alarm 4</a>
  </div>
</div>

<div id="comingup">
  <h1>Coming up</h1>
  <div class="textreminders">
    <a routerLink="/play-dates">playdates 1</a>
  </div>
  <div class="textreminders">
    <a routerLink="/play-dates">playdates 2</a>
  </div>
  <div class="textreminders">
    <a routerLink="/play-dates">playdates 3</a>
  </div>
  <div class="textreminders">
    <a routerLink="/play-dates">playdates 4</a>
  </div>
</div> -->
