#table {
  width: 126px;
  background-color: #002176;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.tab {
  width: auto;
  height: 109px;
  background-color: #002176;
  border-color: white;
  border-width: 1.5px;
  border-style: solid;
  border-left-color: #002176;
}

#logo {
  background-color: white;
  border-right-color: #002176;
  border-bottom-color: #002176;
  border-top-color: #002176;
}
#logoImage {
  width: 86px;
  height: 88px;
  margin: auto;
  display: block;
  margin-top: 10px;
}

.icons {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  margin-top: 15px;
}

.iconText {
  color: white;
  font-size: 18px;
  font-family: "Roboto";
  text-align: center;
}

#right-box {
  position: absolute;
  top: 50px;
  right: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  text-decoration-line: underline;
}

#words,
#alarm {
  font-size: 17px;
}

#homeTab {
  background-color: #f1ff9d;
}
#homeText {
  color: #002176;
}

#task {
  position: absolute;
  left: 200px;
  height: 1020px;
  width: 258px;
}