<div>
    <table id="onlytable" style=" background-color: blue; ">

        <tr>
            <td style="background-color:#ffffff;">
                <img class="taskimage" src="../../assets/bi_shield.png"> </td>
        </tr>
        <tr>
            <td>
                <img routerLink="/profile" class="taskimage" src="../../assets/white-user.png"> </td>
        </tr>
        <td style="background-color:#F1FF9D;">
            <img routerLink="/home" id="bluepawhome" src="..//..//assets/blue-paw.png"> </td>
        <tr>
            <td>
                <img routerLink="/words-of-wisdom" class="taskimage" src="../../assets/white-book.png"> </td>
        </tr>

        <tr>
            <td>
                <img routerLink="/feeding-alarm" class="taskimage" src="../../assets/white-clock.png"> </td>
        </tr>

        <tr>
            <td>
                <img routerLink="/play-dates" id="taskimagewhiteball" src="../../assets/white-ball.png"> </td>
        </tr>
        <tr>
            <td width:150px height=300px> </td>
        </tr>

    </table>

</div>

<div id=companyname>
    <h1>
        Pet Guardian</h1>


    <p>Register pets</p>
    <div id="dogImage">
        <img routerLink="/profile" width=152px height=147.3px src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGGlucSyxCdlSvmt2p1y_GnMM4E4qTI2veUaxW18P2OveuIfYc6yoWGybduJlFunZV-a4&usqp=CAU" />
    </div>
    <div id="dogregis">
        <a routerLink="/profile">register more</a>
    </div>
</div>

<div id=overview>
    <h2>Helping Your companion by helping you</h2>
    <p>Here at Pet Guardian we strive to help you, our users by providing the guidance you need into this wild adventure.</p>
</div>

<div id=parks>
    <p>View popular parks to take your dog</p>
    <div id="park1">
        <img class="parkss" src="../../assets/earhart park.png" />
    </div>

    <div id="park2">
        <img class="parkss" src="../../assets/guatama park.png" />
    </div>

    <div id="park3">
        <img class="parkss" src="../../assets/hamilton park.png" />
    </div>

    <div id="park4">
        <img class="parkss" src="../../assets/irvine park.png" />
    </div>

    <div id="park5">
        <img class="parkss" src="../../assets/portsmouth park.png" />
    </div>

    <div id="park6">
        <img class="parkss" src="../../assets/south park.png" />
    </div>

    <div id="park7">
        <img class="parkss" src="../../assets/yarrow park.png" />
    </div>

</div>

<div id=advice>
    <h3>Most helpful advice from owners</h3>
    <div class="textadvice">

        <a routerLink="/words-of-wisdom">advice 1</a>

    </div>
    <div class="textadvice">

        <a routerLink="/words-of-wisdom">advice 2</a>

    </div>
    <div class="textadvice">

        <a routerLink="/words-of-wisdom">advice 3</a>

    </div>
    <div class="textadvice">

        <a routerLink="/words-of-wisdom">advice 4</a>

    </div>
</div>

<div id=reminders>
    <h1>Daily reminders </h1>
    <div class="textreminders ">

        <a routerLink="/feeding-alarm">feeding alarm 1</a>

    </div>
    <div class="textreminders">

        <a routerLink="/feeding-alarm">feeding alarm 2</a>

    </div>
    <div class="textreminders">

        <a routerLink="/feeding-alarm">feeding alarm 3</a>

    </div>
    <div class="textreminders ">

        <a routerLink="/feeding-alarm">feeding alarm 4</a>

    </div>
</div>

<div id=comingup>
    <h1>Coming up</h1>
    <div class="textreminders">

        <a routerLink="/play-dates">playdates 1</a>

    </div>
    <div class="textreminders">

        <a routerLink="/play-dates">playdates 2</a>

    </div>
    <div class="textreminders">

        <a routerLink="/play-dates">playdates 3</a>

    </div>
    <div class="textreminders ">

        <a routerLink="/play-dates">playdates 4</a>

    </div>
</div>