<div id="table">
  <div class="tab" id="top">
    <a routerLink="/home">
      <img
        class="icons"
        id="selected"
        src="../../assets/icons/home_selected.png"
      />
    </a>
  </div>

  <div class="tab">
    <a routerLink="/words-of-wisdom">
      <img class="icons" src="../../assets/icons/words.png" />
    </a>
  </div>

  <div class="tab">
    <a routerLink="/feeding-alarm">
      <img class="icons" src="../../assets/icons/alarm.png" />
    </a>
  </div>

  <div class="tab">
    <a routerLink="/vet-assist">
      <img class="icons" src="../../assets/icons/vet.png" />
    </a>
  </div>
</div>

<img id="taskBar" src="../../assets/homePage/tasks2.png" />

<div id="profile">
  <p id="name">Sadman Amin</p>
  <p id="role">Developer</p>
  <img src="../../assets/homePage/profile.png" />
</div>

<!-- Anything above here is on every page -->

<div id="pets">
  <p id="slogan">Pet Guardian</p>

  <img class="petCircles" src="../../assets/homePage/addPet.png" />
  <p id="addPet">Add a pet</p>

  <img class="petCircles" src="../../assets/homePage/luna.png" />
  <p id="luna">Luna</p>

  <img class="petCircles" src="../../assets/homePage/pet2.png" />
  <p id="mike">Mike</p>
</div>

<div id="parks">
  <p id="parksTitle">Parks</p>
  <img class="park" src="../../assets/homePage/irvinePark.png" />
  <img class="park" src="../../assets/homePage/hamiltonPark.png" />
  <img class="park" src="../../assets/homePage/echoPark.png" />
</div>

<div id="advices">
  <p id="adviceTitle">Owner Advice</p>
  <img src="../../assets/homePage/advice1.png" />
  <img src="../../assets/homePage/advice2.png" />
</div>
